.tf-container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: gray;
}

.tf-box {
  width: 6rem;
  height: 18rem;
  background-color: yellow;
  border: 0.5rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tf-circule {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.2;
  border: 0.3rem solid black;
}

.tf-color-red {
  background-color: red;
}

.tf-color-orange {
  background-color: orange;
}

.tf-color-green {
  background-color: green;
}

.tf-turn-on {
  opacity: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
